html,
body,
#root,
#body_wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 48px;
  background-color: #1c9fff;
  display: flex;
  align-items: center;
}

#header_wrapper {
  width : 70%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  color : #fff;
  align-items: center;
}

#header_search {
  height: 40px;
  border: none;
  width: 400px;
  border-radius: 5px;
  outline: none;
  font-size: bold;
}

#side_bar {
  width : 290px;
  height : calc( 100% - 48px );
  box-shadow: 0px 0.3px 0.9px rgba(0,0,0,0.1),0px 1.6px 3.6px rgba(0,0,0,0.1);
}




